# HW4 Part 1 - Review of Python Classes

April 21, 2020

The following is meant to be a brief review of classes in Python. If you feel comfortable with building and manipulating classes in Python, feel free to skim this part

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

## 1a) Create a class "`Dog`" with an `__init__` function that takes in the variable `name`

In [2]:
class Dog():

    def __init__(self, name):
        self.name = name
        # assign 'name' to self here as a data attribute

In [3]:
mydog = Dog('Jojo')

In [4]:
mydog.name

'Jojo'

# 1b) Add a method to this class `add_trick` that takes in a variable `trick`
Keep in mind that a Dog might learn many tricks - you might keep track of the tricks it learns in a list

In [5]:
class Dog:

    def __init__(self, name): 
        self.name = name
        self.trick = [] # you need to initialize it here to make it special for each object.
        # your code here
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick)
        # your code here

In [6]:
# test your code
mydog = Dog('Jojo')
mydog.add_trick('roll over')
mydog.add_trick('play dead')
mydog.add_trick('flippy flip')

# print the tricks here
mydog.trick### complete here

['roll over', 'play dead', 'flippy flip']

# 1c) Modify the class so that it keeps track of the dog's age, gender and species
Would these be better as a data attributes or as a method attributes? Instance attributes usually take precedence over class attribute.

In [13]:
# your code here
class Dog:

    def __init__(self, name, age, gender, species): 
        # example of checking types for arguments passed
        assert isinstance(name,str), 'name is not string'
        assert isinstance(age,(int,float))
        assert gender in ('male','female')
        self.name = name
        self.age = age
        self.gender = gender
        self.species = species
        self.trick = [] # you need to initialize it here to make it special for each object.
        # your code here
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick)
        # your code here

## 1d) Create 3 dogs with various characteristics, and assign them different tricks

In [18]:
# your code here
first_dog = Dog(name='erol', age=4 ,gender='male', species='pyrenia')
first_dog.add_trick('roll over')
first_dog.add_trick('play dead')
first_dog.add_trick('flippy flip')

second_dog = Dog(name='lulu', age=2 ,gender='female', species='collie')
second_dog.add_trick('give paw')
second_dog.add_trick('bring toy')
second_dog.add_trick('fetch')

third_dog = Dog(name='bubu', age=6 ,gender='female', species='corgy')
third_dog.add_trick('sit')
third_dog.add_trick('jump')
third_dog.add_trick('bark')

## 1e) Create a method/function `print_summary` for the Dog class that prints all the relevant data and tricks

In [16]:
# your code here
class Dog:

    def __init__(self, name, age, gender, species): 
        self.name = name
        self.age = age
        self.gender = gender
        self.species = species
        self.trick = [] # you need to initialize it here to make it special for each object.
        # your code here
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick)
        # your code here
    
    def update_age(self,age):
        self.age = age
        
    def print_summary(self):
        print('name: {}, age: {}, gender: {}, species: {} \n tricks: {}' .format(self.name, self.age, self.gender, self.species, self.trick))

In [19]:
first_dog.print_summary()

name: erol, age: 4, gender: male, species: pyrenia
 tricks: ['roll over', 'play dead', 'flippy flip']

In [20]:
all_tricks = ['roll over','play dead','flippy flip','give paw','bring toy','fetch','sit','jump','bark']
num_tricks = len(all_tricks)
pick_tricks = 3

Tricks = random.sample(all_tricks,pick_tricks)
print(Tricks)

['fetch', 'flippy flip', 'jump']

In [89]:
# create 3 dogs again with your new/modified class and 

dogs = []
dogs.append(Dog(name='erol', age=4,gender='male', species='pyrenia'))
dogs.append(Dog(name='lulu', age=2,gender='female', species='collie'))
dogs.append(Dog(name='bubu', age=6,gender='female', species='corgy'))

all_tricks = ['roll over','play dead','flippy flip','give paw','bring toy','fetch','sit','jump','bark']
pick_tricks = 3

for d in dogs:
    d.add_trick(random.sample(all_tricks, pick_tricks))

for d in dogs:
    d.print_summary()
    
df_all=pd.DataFrame()

for d in dogs:
    df = d.return_df()
    df_all = df_all.append(df)
df_all.head()

name: erol, age: 4, gender: male, species: pyrenia
 tricks: [['bark', 'flippy flip', 'sit']]
name: lulu, age: 2, gender: female, species: collie
 tricks: [['fetch', 'jump', 'bring toy']]
name: bubu, age: 6, gender: female, species: corgy
 tricks: [['flippy flip', 'bring toy', 'jump']]

   name  age  gender  species                          tricks
0  erol    4    male  pyrenia        [bark, flippy flip, sit]
0  lulu    2  female   collie        [fetch, jump, bring toy]
0  bubu    6  female    corgy  [flippy flip, bring toy, jump]

## 1f) Finally, create a function/method that returns a pandas dataframe of the dog's name, age, gender species and tricks

This code should run. What do you notice about having multiple tricks?

In [82]:
class Dog:

    def __init__(self, name, age, gender, species): 
        self.name = name
        self.age = age
        self.gender = gender
        self.species = species
        self.trick = [] # you need to initialize it here to make it special for each object.
        # your code here
        
    def add_trick(self, trick): # this is a method attribute
        self.trick.append(trick)
        # your code here
        
    def print_summary(self):
        print('name: {}, age: {}, gender: {}, species: {} \n tricks: {}' .format(self.name, self.age, self.gender, self.species, self.trick))
        
        
    def return_df(self):
        dog_dict = {
            'name': self.name,
            'age': self.age,
            'gender': self.gender,
            'species': self.species,
            'tricks': self.trick
        }
        df = pd.DataFrame(dog_dict)
        return(df)

In [78]:
jojo = Dog(name='Jojo',age=12, gender='M',species='collie')

jojo.add_trick('roll over')
jojo.add_trick('flippy flip')

jojo.print_summary()

df = jojo.return_df()

df.head()

name: Jojo, age: 12, gender: M, species: collie
 tricks: ['roll over', 'flippy flip']

   name  age gender species       tricks
0  Jojo   12      M  collie    roll over
1  Jojo   12      M  collie  flippy flip